.Card {
  position: relative;
  transition: all 1s;
}
.Card .img {
  width: 10rem;
  height: 10rem;
  transition: transform 0.8s;
  object-fit: cover;
}
.Card .img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.Card .back {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  background: linear-gradient(45deg, #ddf8ff, #88e6ff);
  transition: transform 0.8s;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 500px) {
  .Card .back {
    width: 7rem;
    height: 7rem;
  }
}

.Card.active .img {
  transform: rotateY(0deg);
}
.Card.active .back {
  transform: rotateY(-180deg);
}
.Card.active:hover {
  pointer-events: none;
}
.Card.active.correct img {
  backdrop-filter: contrast(0.6);
}
.Card.inactive .back {
  transform: rotateY(0deg);
}
.Card.inactive .img {
  transform: rotateY(-180deg);
}
.Card:hover {
  cursor: pointer;
}
.Card:hover .back {
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 500px) {
  .Card .img {
    width: 7rem;
    height: 7rem;
  }
}
