*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vh;
  height: 100vh;
  background: linear-gradient(#457fca, #5691c8);
  margin: auto;
  /* padding: 0; */
}
